<div class="top">
  <div class="logo">
    <img src="/images/favicon/logo.jpg" />
    <h2 class="text_muted"><a href="/cdn">NIGHT</a> <span class="danger">HELP</span></h2>
  </div>
  <div class="close" id="close-btn">
    <i class="material-icons-sharp">close</i>
  </div>
</div>
<div class="sidebar">
  <a href="/dashboard">
    <i class="material-icons-sharp">grid_view</i>
    <h3>Dashboard</h3>
  </a>
  <a href="/products" class="active">
    <i class="material-icons-sharp">person</i>
    <h3>Products</h3>
  </a>
  <a href="/economy">
    <i class="material-icons-sharp">payments</i>
    <h3>Economy</h3>
  </a>
  <a href="/analytics">
    <i class="material-icons-sharp">trending_up</i>
    <h3>Analytics</h3>
  </a>
  <a href="/notifications">
    <i class="material-icons-sharp">message</i>
    <h3>Messages</h3>
    <span class="message-count">26</span>
  </a>
  <a href="/policies">
    <i class="material-icons-sharp">policy</i>
    <h3>Policies</h3>
  </a>
  <a href="/aplications">
    <i class="material-icons-sharp">code</i>
    <h3>Aplications</h3>
  </a>
  <a href="/commands">
    <i class="material-icons-sharp">settings</i>
    <h3>Commands</h3>
  </a>
  <a href="https://discord.com/channels/1099013284889370696">
    <i class="material-icons-sharp">logout</i>
    <h3>Logout</h3>
  </a>
</div>
