<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon/logo.jpg" type="image/gif" />
    <title>Welcome</title>
    <link href="/css/login.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
    <%- include("./partials/meta.ejs") %>
  </head>
  <body>
    <div class="container">
      <div class="welcome-card">
        <h1>Welcome the Night Support</h1>
        <p>Welcome to the Night API control panel</p>
        <a class="login-button" href="/auth/login">
          <i class="material-icons-sharp discord-icon">discord</i>
          Login Discord
        </a>
      </div>
    </div>
  </body>
</html>
