<!DOCTYPE html>
<html>
  <head>
    <title><%= _client.user.username %> - Minecraft</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/favicon/logo.jpg" type="image/gif" />
    <link rel="stylesheet" href="/css/minecraft.css" />
    <%- include("./partials/meta.ejs") %>
  </head>
  <body>
    <h1>Estado del Servidor de Minecraft</h1>
    <div class="conteiner">
<div class="info-container">
  <div class="discord-info">
    <h2>Servidor de Discord</h2>
    <p>Usuarios conectados: <span id="discordUsers">Cargando...</span></p>
    <span class="material-icons-sharp">groups</span> 
  </div>
  <div class="web-info">
    <h2>Servidor Web</h2>
    <p>Usuarios registrados: <span id="webUsers">Cargando...</span></p>
    <span class="material-icons-sharp">groups</span> 
  </div>
</div>

<script>
  const discordUserCount = <%= _client.users.cache.size %>;
  const webUserCount = 129

  const userSectionDiscord = document.getElementById('discordUsers');
  const userSectionWeb = document.getElementById('webUsers');

  userSectionDiscord.innerHTML = discordUserCount;
  userSectionWeb.innerHTML = webUserCount;
</script>

      <div class="server-card">
      <h2>Información del Servidor</h2>
              <div class="server-frame">
          <iframe style="width:728px;height:90px;max-width:100%;border:none;display:block;margin:auto" src="https://es.namemc.com/server/demonscraft.lol/embed" width="728" height="90"></iframe>
        </div>
        <p>IP del servidor: <a href="https://mcstatus.io/status/java/demonscraft.lol">demonscraft.lol</a></l>
        <p>Jugadores en línea: <span id="playerCount">-</span>
            <button onclick="showPlayerList()">Show List</button>
            <ul id="playerList" style="display: none;" class="player-list"></ul>
        </p>
        <p>Estado: <span id="serverStatus">-</span></p>
        <p>Versión: <span id="serverVersion">-</span></p>
        <p>Motd: <span id="serverMotd">-</span></p>
      </div>
      <div class="chart-container">
        <canvas id="playerChart" width="600" height="200"></canvas>
      </div>
    </div>
    <script src="/js/minecraft/script.js"></script>
    <script src="/js/minecraft/list.js"></script>
  </body>
</html>
