@use 'format';

main .recent-orders {
  margin-top: 2rem;

  h2 {
    margin-bottom: 0.8rem;
  }

  table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;

    &:hover {
      box-shadow: none;
    }

    tbody td {
      height: 2.8rem;
      border-bottom: 1px solid var(--color-light);
      color: var(--color-dark-variant);

      &:last-child {
        border: none;
      }
    }

    .recent-orders a {
      text-align: center;
      display: block;
      margin: 1rem auto;
      color: var(--color-primary);
    }
  }
}

.tarjeta-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tarjeta {
  width: calc(50% - 20px);
  height: auto;
  margin-top: 20px;
  border: 1px solid var(--color-info-light);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: var(--box-shadow);
  background: var(--color-white);
  color: var(--color-white);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  .contenido-tarjeta {
    text-align: center;
    padding: 20px;

    img {
      max-width: 100%;
      max-height: 200px;
      height: auto;
    }

    .id {
      font-weight: bold;
      margin-top: 10px;
      color: var(--color-dark);
    }

    .username {
      font-weight: bold;
      margin-top: 10px;
      color: var(--color-dark);
    }

    .linea {
      width: 100%;
      height: 1px;
      background-color: var(--color-info-light);
      margin: 10px 0;
    }

    .descriptions {
      margin-top: 10px;
      color: var(--color-info-dark);
    }
  }

  .boton-invitar {
    margin-top: 20px;
    text-align: center;

    a {
      display: inline-block;
      padding: 10px 20px;
      margin-right: 10px;
      background-color: transparent;
      color: var(--color-info-light);
      text-decoration: none;
      border: 1px solid var(--color-info-light);
      border-radius: var(--border-radius-1);
      cursor: pointer;
      transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;

      &:hover {
        background-color: var(--color-info-light);
        color: var(--color-white);
        transform: scale(1.1);
      }
    }
  }
}

.paginacion {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    background-color: var(--color-info-light);
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius-1);
    cursor: pointer;
    font-size: 24px;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: background-color 0.3s ease-in-out;

    &[disabled] {
      background-color: var(--color-gray);
      cursor: not-allowed;
    }

    &:hover {
      background-color: var(--color-success);
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }

  aside {
    .logo {
      h2 {
        display: none;
      }
    }

    .sidebar {
      h3 {
        display: none;
      }

      a {
        width: 5.6rem;
      }

      a:last-child {
        position: relative;
        margin-top: 1.8rem;
      }
    }
  }

  main {
    .recent-orders {
      width: 94%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: 2rem 0 0 8.8rem;

      table {
        width: 83vw;
      }
    }

    table {
      thead {
        tr {
          th:last-child,
          th:first-child {
            display: none;
          }
        }
        tbody {
          tr {
            td:last-child,
            td:first-child {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;

    .logo {
      margin-left: 1rem;

      h2 {
        display: inline;
      }
    }

    .sidebar {
      h3 {
        display: inline;
      }

      a {
        width: 100%;
        height: 3.4rem;
      }

      a:last-child {
        position: absolute;
        bottom: 5rem;
      }
    }

    .close {
      display: inline-block;
      cursor: pointer;
    }
  }

  main {
    margin-top: 8rem;
    padding: 0 1rem;

    .recent-orders {
      position: relative;
      margin: 3rem 0 0 0;
      width: 100%;

      table {
        width: 100%;
        margin: 0;
      }
    }
  }

  .right {
    width: 94%;
    margin: 0 auto 4rem;

    .top {
      position: fixed;
      top: 0;
      left: 0;
      align-items: center;
      padding: 0 0.8rem;
      height: 4.6rem;
      background: var(--color-white);
      width: 100%;
      margin: 0;
      z-index: 2;
      box-shadow: 0 1rem 1rem var(--color-light);

      .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 66%;
      }
    }

    .profile {
      .info {
        display: none;
      }
    }

    .top {
      button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-danger);
        position: absolute;
        left: 1rem;

        span {
          font-size: 2rem;
        }
      }
    }
  }
}
