@use 'format';

main {
  .graficas {
    margin-top: 1.5rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between; // Distribuye los divs igualmente en el ancho disponible
    align-items: center; // Centra verticalmente los divs
    width: 100%; // Ocupa todo el ancho del navegador
    padding: 0 20px;
  }
  .recent-orders {
    margin-top: 2rem;
    h2 {
      margin-bottom: 0.8rem;
    }
    table {
      background: var(--color-white);
      width: 100%;
      border-radius: var(--card-border-radius);
      padding: var(--card-padding);
      text-align: center;
      box-shadow: var(--box-shadow);
      transition: all 300ms ease;
    }
    table:hover {
      box-shadow: none;
    }
    a {
      text-align: center;
      display: block;
      margin: 1rem auto;
      color: var(--color-primary);
    }
  }
  table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
  }
  table tbody tr:last-child td {
    border: none;
  }
}

.media-users,
.status-bot {
  flex: 1;
  display: inline-block;
  vertical-align: top;
  width: 500px;
  padding: 20px;
  margin: 10px;
  background: var(--color-white);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
  p {
    text-align: center;
  }
}

.media-users:hover,
.status-bot:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.table-logs {
  margin-top: 2rem;
  h2 {
    margin-bottom: 0.8rem;
  }
  table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    tbody td {
      height: 2.8rem;
      border-bottom: 1px solid var(--color-light);
      color: var(--color-dark-variant);
    }
  }
  table:hover {
    box-shadow: none;
  }
  a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
  }
}

.table-logs table tbody tr:last-child td {
  border: none;
}

.action-button {
  border: none;
  background-color: var(--color-info-light);
  cursor: var(--color-white);
  padding: 0;
  font-size: 20px;
  margin-right: 5px;
  color: #333;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    font-size: 24px;
    margin: 0 5px;
    cursor: pointer;
    background-color: var(--color-gray);
    color: var(--color-white);
    border: none;
    transition: background-color 0.3s ease-in-out;
  }
  button:hover {
    background-color: var(--color-success);
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }

  aside {
    .logo {
      h2 {
        display: none;
      }
    }
    .sidebar {
      h3 {
        display: none;
      }
      a {
        width: 5.6rem;
      }
      a:last-child {
        position: relative;
        margin-top: 1.8rem;
      }
    }
  }

  .graficas {
    flex-direction: column;
  }

  .media-users,
  .status-bot {
    width: 100%; // Ocupa todo el ancho en pantallas de hasta 1200px
    margin: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
    .logo {
      margin-left: 1rem;
      h2 {
        display: inline;
      }
    }
    .sidebar {
      h3 {
        display: inline;
      }
      a {
        width: 100%;
        height: 3.4rem;
      }
      a:last-child {
        position: absolute;
        bottom: 5rem;
      }
    }
    .close {
      display: inline-block;
      cursor: pointer;
    }
  }
  @keyframes showMenu {
    to {
      left: 0;
    }
  }
  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }

  .right {
    width: 94%;
    margin: 0 auto 4rem;
    .top {
      position: fixed;
      top: 0;
      left: 0;
      align-items: center;
      padding: 0 0.8rem;
      height: 4.6rem;
      background: var(--color-white);
      width: 100%;
      margin: 0;
      z-index: 2;
      box-shadow: 0 1rem 1rem var(--color-light);
      .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 66%;
      }
      button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-danger);
        position: absolute;
        left: 1rem;
        span {
          font-size: 2rem;
        }
      }
    }
    .profile {
      .info {
        display: none;
      }
    }
  }

  .graficas {
    flex-direction: column;
  }
  .media-users,
  .status-bot {
    width: 100%; // Ocupa todo el ancho en pantallas de hasta 768px
    margin: 10px 0;
  }
}
