@use 'format';

main {
  .recent-orders {
    margin-top: 2rem;

    h2 {
      margin-bottom: 0.8rem;
    }

    table {
      background: var(--color-white);
      width: 100%;
      border-radius: var(--card-border-radius);
      padding: var(--card-padding);
      text-align: center;
      box-shadow: var(--box-shadow);
      transition: all 300ms ease;

      &:hover {
        box-shadow: none;
      }

      tbody td {
        height: 2.8rem;
        border-bottom: 1px solid var(--color-light);
        color: var(--color-dark-variant);
      }

      tbody tr:last-child td {
        border: none;
      }
    }

    a {
      text-align: center;
      display: block;
      margin: 1rem auto;
      color: var(--color-primary);
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }

  aside {
    .logo h2 {
      display: none;
    }

    .sidebar h3 {
      display: none;
    }

    .sidebar a {
      width: 5.6rem;

      &:last-child {
        position: relative;
        margin-top: 1.8rem;
      }
    }
  }

  main {
    .recent-orders {
      width: 94%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: 2rem 0 0 8.8rem;
    }

    table {
      thead {
        tr {
          th:first-child,
          th:last-child {
            display: none;
          }
        }
      }

      tbody {
        tr {
          td:first-child,
          td:last-child {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;

    @keyframes showMenu {
      to {
        left: 0;
      }
    }

    .logo {
      margin-left: 1rem;

      h2 {
        display: inline;
      }
    }

    .sidebar {
      h3 {
        display: inline;
      }

      a {
        width: 100%;
        height: 3.4rem;

        &:last-child {
          position: absolute;
          bottom: 5rem;
        }
      }

      .close {
        display: inline-block;
        cursor: pointer;
      }
    }
  }

  main {
    margin-top: 8rem;
    padding: 0 1rem;

    .recent-orders {
      position: relative;
      margin: 3rem 0 0 0;
      width: 100%;

      table {
        width: 100%;
        margin: 0;
      }

      .right {
        width: 94%;
        margin: 0 auto 4rem;

        .top {
          position: fixed;
          top: 0;
          left: 0;
          align-items: center;
          padding: 0 0.8rem;
          height: 4.6rem;
          background: var(--color-white);
          width: 100%;
          margin: 0;
          z-index: 2;
          box-shadow: 0 1rem 1rem var(--color-light);

          .theme-toggler {
            width: 4.4rem;
            position: absolute;
            left: 66%;
          }
        }

        .profile {
          .info {
            display: none;
          }
        }

        .top {
          button {
            display: inline-block;
            background: transparent;
            cursor: pointer;
            color: var(--color-danger);
            position: absolute;
            left: 1rem;

            span {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
