@use 'format';

.economy {
  margin-top: 2rem;

  h2 {
    margin-bottom: 0.8rem;
  }

  table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    border-collapse: collapse;

    &:hover {
      box-shadow: none;
    }

    th,
    td {
      border: 1px solid var(--color-light);
      padding: 8px;
    }

    th {
      background-color: #f0f0f0;
    }
  }

  img {
    width: 40px;
    display: block;
    margin: 0 auto;
  }

  tr:nth-child(1) {
    background-color: yellow;
    color: #202528;
  }

  tr:nth-child(2) {
    background-color: #f7e4d3;
    color: #202528;
  }

  tr:nth-child(3) {
    background-color: #d9f0d2;
    color: #202528;
  }

  a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
  }
}

.top-economy {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 2rem;
}

.economy-card {
  background: var(--color-white);
  width: 30%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--color-light);

  h3 {
    margin-bottom: 0.5rem;
  }

  img {
    width: 60px;
    margin: 0 auto;
  }
}

.action-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 20px;
  margin-right: 5px;
  color: #333;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .pagination-button {
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
    background-color: var(--color-gray);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-success);
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }

  aside {
    .logo {
      h2 {
        display: none;
      }
    }

    .sidebar {
      h3 {
        display: none;
      }

      a {
        width: 5.6rem;
      }

      a:last-child {
        position: relative;
        margin-top: 1.8rem;
      }
    }

    .top-economy {
      flex-direction: column;
      align-items: center;
    }

    .economy-card {
      width: 80%;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;

    .economy-card {
      width: 100%;
    }

    @keyframes showMenu {
      to {
        left: 0;
      }
    }

    .logo {
      margin-left: 1rem;

      h2 {
        display: inline;
      }
    }

    .sidebar {
      h3 {
        display: inline;
      }

      a {
        width: 100%;
        height: 3.4rem;
      }

      a:last-child {
        position: absolute;
        bottom: 5rem;
      }

      .close {
        display: inline-block;
        cursor: pointer;
      }
    }

    main {
      margin-top: 8rem;
      padding: 0 1rem;
    }

    .right {
      width: 94%;
      margin: 0 auto 4rem;

      .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);

        .theme-toggler {
          width: 4.4rem;
          position: absolute;
          left: 66%;
        }
      }

      .profile {
        .info {
          display: none;
        }

        .top {
          button {
            display: inline-block;
            background: transparent;
            cursor: pointer;
            color: var(--color-danger);
            position: absolute;
            left: 1rem;

            span {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
